.contenedor_hijo{
    height: 100px;
    width: 100px;
    border: 1px solid red;
}

.fondo{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(42,72,124,1) 35%);
}

.button_verde{
    width: 100%;
    border-radius: 28px;
    height: 57px;
    text-transform: uppercase;
}

.cuadricula{
    margin-top: 100px;
    margin-bottom: 100px;
}
.ancho_tarjetas{
    width: 100%;
    height: 250px;
}

.cuadricula_imagenes{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.acomodo_texto{
    display: flex;
    align-items: center;
}

.fondo_fluido{
    background-color: lawngreen;
}

.encabezado{
    text-align: center;
}

