.contenedor_hijo{
    height: 100px;
    width: 100px;
    border: 1px solid red;
}


.button_verde{
    width: 100%;
    border-radius: 28px;
    height: 57px;
    text-transform: uppercase;
}

.cuadricula{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 10000px;
    height: 100px;
}

.cuadricula_imagenes{
    height: 290px;
    width: 290px;
    object-fit: cover;
}

.acomodo_texto{
    display: flex;
    align-items: center;
}

.fondo_fluido{
    background-color: springgreen;
}

.ancho_tarjetas{
    width: 100%;
}